langchain>=1,<2
langchain-core>=1,<2
langchain-openai
langchain-chroma
langchain-groq
langchain-huggingface
langchain-community
langchain-text-splitters
pypdf
python-dotenv
fastapi
uvicorn
openai
tiktoken
streamlit>=1.28.0
sentence-transformers
pydantic>=2.0.0
requests
playwright
beautifulsoup4
html2text
unstructured
